body {
  margin: 0;
  padding: 0;
  background-color: lightblue;
}
h1 {
  color: black;
  text-align: center;
}
.welcome {
  margin-bottom: 0px;
}
.email {
  margin-bottom: 20px;
}
.signin {
  margin-top: 20px;
}
h2 {
  color: #c2c2c2;
  text-align: center;
  font-style: italic;
  font-size: 1em;
  font-weight: 400;
}

section {
  margin: 40px;
}
input {
  margin: auto;
  display: block;
  padding-bottom: 10px;
  border: 0;
  border-bottom: 1px solid #c2c2c2;
  width: 100%;
}
::placeholder {
  color: #979797;
  font-family: serif;
  font-size: 1.2em;
}
.password-form {
  position: relative;
  display: inline-block;
  width: 100%;
}
.password-form a {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1em;
  color: #bdbdbd;
  text-decoration: none;
}
button {
  background-color: #3598db;
  color: #ffffff;
  cursor: pointer;
  text-align: center;
  padding: 20px;
  width: 100%;
  border: none;
}
main section:last-child {
  text-align: center;
}
main section:last-child a {
  margin-top: 15px;
  display: block;
  font-size: 1em;
  text-decoration: none;
  color: #979797;
}
.box {
  height: 500px;
  width: 450px;
  background-color: white;
  color: white;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.vertical-horizontal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
